<!DOCTYPE html>

<head>
    <title>Image Security Barrier</title>
    <link rel="stylesheet" href="/static/Css/ISBstyle.css">
    <link rel="stylesheet" href="/static/team.css">
</head>

<body>
    <header>
        <div class="main">

          <div class="col-xs-2">
            <div id="logo">Image Security Barrier</div>
        </div>
           
            <ul>
                <li><a href="isb_home">Home</a> </li>
                <li><a href="Achievement_isb">About ISB</a></li>
                <li class="active"><a href="About_us_isb">About Us</a> </li>
                <li><a href="Contact">Contact</a> </li>
            </ul>
        </div>
        <div class="animetion"><canvas id="canvas"></canvas>
            <script type="text/javascript" src="/static/JS/rainbow-rain.js"></script>
        </div>
       
        <div class="title">
            <h4>About Us</h4>
            <p>People share daily activities on social media, including sensitive information like dates of birth, addresses, phone numbers, Aadhar numbers, PAN numbers, or QR codes, which can be harvested by hackers for illegal purposes.</p><br>
            <p>Businesses and governments also leak sensitive information accidentally or maliciously, causing damage to privacy, national security, finances, and reputation.</p><br>
            <p>The increase in internet users has led to an increase in cyber threats and mental disturbances, with roughly 2.5 quintillion bytes of data generated daily, which can carry private/sensitive information.</p><br>
            <p>ISB is a software/tool that recognizes sensitive information from images/documents and hides or encrypts them, creating a barrier between hackers and the public.</p><br>
            <p>Image Security Barrier is a flexible software/tool that runs on various platforms, designed to identify and hide sensitive data in images/documents to prevent data leakage.</p>
        </div>       
    </header>
<div>
    <h2>Meet The Team</h2>

<br>

<div class="row">
  <div class="column-ab">
    <div class="card-ab">
      <img src="/static/Pranay.png" alt="Jane" style="width:100%">
      <div class="container-ab">
        <h2>Pranay Maske</h2>
        <p class="title-ab">Team leader & Back-End Developer</p>
        <p>Maske_Pranay.it@ghrce.raisoni.net</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column-ab">
    <div class="card-ab">
      <img src="/static/Kunal.png" alt="Mike" style="width:100%">
      <div class="container-ab">
        <h2>Kunal Pardhi</h2>
        <p class="title-ab">Technology Strategist</p>
        <p>Pardhi_kunal.it@ghrce.raisoni.net</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column-ab">
    <div class="card-ab">
      <img src="/static/Shubham.JPG" alt="John" style="width:100%">
      <div class="container-ab">
        <h2>Shubham Hatzade</h2>
        <p class="title-ab">Front-End Developer</p>
        <p>Hatzade_Shubham.it@ghrce.raisoni.net</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

<div class="column-ab">
  <div class="card-ab">
    <img src="/static/Rakesh.png" alt="John" style="width:100%">
    <div class="container-ab">
      <h2>Rakesh Sharma</h2>
      <p class="title-ab">Cyber Security</p>
      <p>Sharma_rakesh.it@ghrce.raisoni.net</p>
      <p><button class="button">Contact</button></p>
    </div>
  </div>
</div>
</div>
</div>


    <section class="footer">
        <h3>About Us</h3>
        <p>ISB create a barrier between hackers and public its software to recognize our sensitive information from image and hide them.
 The final output is totally secure for sharing anywhere on Internet/social media platforms<br>
        </p>
        </section>
    

</body>

</html>
